body {
    margin: 0px;
}

div {
    background-color: #141414;
    margin: 0px;
    width: auto;
    height: 1000px;
}

div h1 {
    color: #1AFD31;
    text-align: center;
    margin: 0px;
    padding-top: 50px;
}
